* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}
.form-cntr {
  border: 1px solid red;
  width: 500px;
}
.form-ctrl-wpr {
  display: flex;
  flex-direction: column;
  row-gap: 15px;
  padding: 20px;
  text-align: start;
}
.form-ctrl {
  display: flex;
  flex-direction: column;
  row-gap: 5px;
}
.form-ctrl input {
  border: none;
  border-radius: 6px;
  outline: 1px solid #ccc;
  padding: 8px;
}
.form-ctrl input:focus {
  outline: 2px solid #3182ce;
}
.form-cntr[data-editable="false"] input {
  pointer-events: none;
  outline: none;
}
.form-cntr[data-editable="false"] input::placeholder {
  visibility: hidden;
}
